
/*Fonts*/
@font-face{
font-family: Afterglow;
src: url(fonts/afterglow_2/Afterglow-Regular.ttf)

}
@font-face{
    font-family:SF Pro Display; 
    src: url(fonts/sf-ui-display-medium-58646be638f96.otf);
}
@font-face{
font-family: Montserrat;
src: url(fonts/montserrat/Montserrat-Regular.otf);

}
@font-face {font-family: "AlbiaNovaW01-Regular"; src: url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.eot"); src: url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.woff") format("woff"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.svg#AlbiaNovaW01-Regular") format("svg"); }

@import url(//db.onlinewebfonts.com/c/00e858ac96dc30cab8eea51540726417?family=AlbiaNovaW01-Regular);
body{

padding: 0;
margin: 0;
overflow-x: hidden;
background: #FFFEF2;
width: 100%;
left: 0;
}
.overall{
    margin-top: 0.2px;
}
#main-header{
    background-image: url(images/holdingHands.png);
    background-repeat: no-repeat;
    background-size: 100% 570.3px;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
   
}
#logoSpace{
    display: inline;
}
#logoSpace{
    display: inline;
}
#logo{
    width: 61.49px;
    height: 94px;
}


.plaqueT > h1{
    font-family: AlbiaNovaW01-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 19.7935px;
    line-height: 31px;
    /* identical to box height, or 154% */
    
    
    color: #FFFFFF;
    
}

ul{
    list-style-type: none;
    display: inline;
    
    
}
.navbar{
    margin-bottom: 100px;
}
.navbar ul li{
    padding-right: 35px;
    display: inline;
    
    
    
   
}
.navbar ul li a{
    background: -webkit-linear-gradient(96.19deg, #BFA67E 3.29%, #BDA47D 17.94%, #B69E78 23.21%, #AB9470 26.97%, #9A8565 29.99%, #8C795C 31.74%, #8C795C 34.69%, #8C795C 37.75%, #9A8565 40.21%, #AB9470 44.48%, #B69E78 49.79%, #BDA47D 57.25%, #BFA67E 77.95%, #BDA47D 86.7%, #B69E78 89.85%, #AB9470 92.1%, #9A8565 93.9%, #8C795C 94.95% );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;

}
.navbar ul li a:hover, .navbar ul li a:active, .navbar ul li a:focus {
    color: white;
    background: linear-gradient(98.06deg, #BFA67E 3.29%, #BDA47D 17.94%, #B69E78 23.21%, #AB9470 26.97%, #9A8565 29.99%, #8C795C 31.74%, #8C795C 34.69%, #8C795C 37.75%, #9A8565 40.21%, #AB9470 44.48%, #B69E78 49.79%, #BDA47D 57.25%, #BFA67E 77.95%, #BDA47D 86.7%, #B69E78 89.85%, #AB9470 92.1%, #9A8565 93.9%, #8C795C 94.95%);
border-radius: 4.59574px;


padding: 3px 10px;
text-decoration: none;
-webkit-background-clip: none;
-webkit-text-fill-color: white;
background: -webkit-linear-gradient(none);
}

.header-one{
    padding: 50px 0 0 40px

}




.header-two{

    padding:0px 0 0 50px
}
#hplan{
    font-family: Afterglow;
    font-style: normal;
    font-weight: normal;
    font-size: 36.611px;
    line-height: 44px;
    
    color: #EED4AB;
}
#dreamWed{
    font-family: Afterglow;
font-style: normal;
font-weight: normal;
font-size: 68.6456px;
line-height: 69px;
/* or 100% */


color: #EED4AB;
}

#dreamWed, #hplan{
    color: #EED4AB;
}
#headerText, #getStarted{
    color: #FFFFFF;
}
#headerText{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% */


color: #FFFFFF;

}
#getStarted{
    width: 165.58px;
    height: 38.17px;
text-align: center;
background: #BDA47D;
    border-radius: 3.63514px;
    
    
}

#getLink{
    text-decoration: none;
}
#startext{
    
font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 18px;

/* identical to box height */
padding-top: 8px;

color: #FFFFFF;


}

#getStarted:hover, #getStarted:active, #getStarted:focus{
    
    color: #fdec6e;
    text-decoration: none;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  
}

#ringImg{
    width: 498.73px;
    height:376.82px ;
    position: relative;
    
}
#goldLine{
    width: 100%;
    height: 200px;
    transform: rotate(359deg);

}
.divider{
    margin-top: -160px;
    margin-right: 0;
    padding-right: 0;
    width: 103%;
}

/*Body styles*/
.body{
    padding: 0;
}

.first-body{
    padding-left: 45px;
    
}



#body-text-one{
    
font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 41.0647px;
line-height: 53px;

color: #B69E78;

}
#body-text-1{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 37px;
/* or 154% */


color: #918A8A;
}

#body-text-two{
    font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 41.0647px;
line-height: 53px;
text-align: right;

color: #B69E78;
}
#body-text-2{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 37px;
/* or 154% */

text-align: right;

color: #918A8A;

}
#body-text-three{
    font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 44.0647px;
line-height: 53px;

color: #B69E78;

}
#body-text-3{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 37px;
/* or 154% */


color: #918A8A;

}
.main-text-one{
padding-right: 20px;    
}



.muffins{
    background-image: url(images/muffin-back.png);
    background-repeat: no-repeat;
    background-size: 330.24px 215.29px;
    background-position: 80px 40px;
    padding-right: 25px;
}
.muffins > img{
    max-width: 390.95px;
max-height: 300px;

}

.firstFlower{
    text-align: right;
    padding-left: 0;
 
}
.firstFlower > img{
    max-width: 100%;
max-height: 403.88px;


}
.secondFlower > img{
    width: 100%;
height: 363.88px;
}
.dining > img{
    max-width: 390.95px;
max-height: 300px;

}

.dining{
    background-image: url(images/diningback.png);
    background-repeat: no-repeat;
    background-size: 330.24px 215.29px;
    background-position: 10px 25px;

    padding-right: 0;
}
.deejay > img{
    max-width: 390.95px;
max-height: 300px;
}
.deejay{
   
    background-image: url(images/dj-back.png);
    background-repeat: no-repeat;
    background-size: 330.24px 215.29px;
    background-position: 80px 38px;
}
.thirdFlower > img{
    max-width: 100%;
max-height: 363.88px;
}
.third-body{
    padding-left: 45px;
}
.main-text-three{
    padding-right: 0;
}

/*Costumers review*/
.cust-review{
   
    max-width: 100%;
height: 396px;
background: #BDA47D;
margin-bottom: 64px;

}
.dashed-lines{
    width: 507px;
height: 2px;


}
.cutlines{
    text-align: center;
    margin-top: 20px;
}



.whatsay{
    font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 37.6216px;

/* identical to box height, or 154% */


color: #FFFDD0;

padding-top:20px ;
padding-bottom: 20px;
text-align: center;

}

#johncap , #johnhair{
    width: 162.33px;
height: 145.96px;
}

#johnhair{
    left: 15px;
top:7px ;
position: relative;
}

#johncap{
    left: 15px;
    top:7px ;
    position: relative;

}
#johnpic{
width: 400px;
height: 200px;
padding-right: 0;
padding-left: 60px;

}

#johnpic2{
    width: 400px;
    height: 200px;
    padding-right: 0;
    padding-left: 60px;
    
    }
.reviewtext{
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}

.reviewtext2{
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}
#Jd1{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 43px;
    /* or 197% */
    
    
    color: #FFFDD0;
    
}
#Jd2{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 43px;
    /* or 197% */
    
    
    color: #FFFDD0;
    
}
#Jdtext{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14.9639px;
    line-height: 28px;
    /* or 154% */
    
    
    color: #FFFFFF;
    
}
#Jdtext2{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14.9639px;
    line-height: 28px;
    /* or 154% */
    
    
    color: #FFFFFF;    
}


.hairjohn{
    height: 200px;
    width:100% ;
    
    
    background-image: url(images/johnback.png);
    background-repeat: no-repeat;
    background-size: 145.33px 130.96px;
    background-position: 70px 0px;
}


.capjohn{
    height: 200px;
    width:100% ;
    
    
    background-image: url(images/johnback.png);
    background-repeat: no-repeat;
    background-size: 145.33px 130.96px;
    background-position: 70px 0px;
}

#slideimg{
    width: 97px;
height: 17px;
margin: auto;
}
.slideicn{
    text-align: center;
    margin-top: 5px;
}


/*Wedding plan


}

*/
.plan-wed{
   text-align: center;     
}

.wed-plan{
    background: #BDA47D;
box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
border-radius: 4.89184px;
width: 995px;
height: 233.83px;
margin-left: 28.35px;



}



.wed-plan > div > p{
    color: white;
}

.wed-plan > div> h3{
font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;

color: #FFFDD0;
padding-top: 30px;
}

.wed-plan>div>div{
    
background: #FFFFFF;

border-radius: 4.77477px;
width: 229px;
height: 60px;
text-align: center;

}

.wed-plan>div>div>h6{

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 25.4655px;
    line-height: 30px;
    
    color: #8C795C;
    padding-top: 12px;
    

}

.wed-plan>div>div:hover, .wed-plan>div>div:active, .wed-plan>div>div:focus{
    
    color: rgb(255, 251, 0);
    text-decoration: none;
  text-shadow:0px 0px 30px rgb(255, 242, 0);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  
}
.getbox{
    padding: 78.2px 0px 94.7px 170px;
}

/*Footer*/
.foot-logo{
    font-family: AlbiaNovaW01-Regular;
font-style: normal;
font-weight: normal;
font-size: 14.6346px;
line-height: 23px;
/* identical to box height, or 154% */


color: #000000;

}
#footerlogo{
    width: 45.42px;
    height: 69.5px ;
}
.all-footer{
    border-style: solid;
    background: rgba(242, 212, 157, 0.05);
border: 0.795796px solid #8C795C;
box-sizing: border-box;
height: 250.26px;

margin: 65.15px 0px 3px 10px;


}
.main-footer{
    margin-left: 12px;
}

.soch ul{
    padding: 0;
    list-style-type: none;
}
.soch>h6{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12.3243px;
line-height: 21px;

color: #5F6C6D;

}
#fb, #twitter, #instagram{
    width: 16px;
height: 15.92px;
}
.sociallist> li{
    display: inline;
}
.sociallist> li>a{
    padding-right: 20px;
}
.sosh-foot{
    margin-top: 22.22px;
}
a{
    text-decoration: none;
}
#help-head{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */



color: #333333;
}
.help-info > li >a{
    text-decoration: none;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */



color: #5F6C6D;

    
}

.help-info > li{
    padding-top: 13.53px;
}

.about > li >a{
    text-decoration: none;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14.3243px;
line-height: 17px;


color: #5F6C6D;
    
}
#about-head{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */


color: #333333;
}
.about > li{
    padding-top: 14.3px;
}
#sub-head{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */


color: #333333;

}
.subscribe > li{
    padding-top: 12.3px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */



color: #5F6C6D;

}
.subscribe > li>input{
    width: 308.79px;
height: 47.75px;
    background: #FFFFFF;
border: 0.795796px solid #8C795C;
box-sizing: border-box;
border-radius: 4.77477px;
}
.sub-list{
    padding-left: 20px;
}