
/*Fonts*/
@font-face{
font-family: Afterglow;
src: url(fonts/afterglow_2/Afterglow-Regular.ttf)

}
@font-face{
    font-family:SF Pro Display; 
    src: url(fonts/sf-ui-display-medium-58646be638f96.otf);
}
@font-face{
font-family: Montserrat;
src: url(fonts/montserrat/Montserrat-Regular.otf);

}
@font-face {font-family: "AlbiaNovaW01-Regular"; src: url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.eot"); src: url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.woff") format("woff"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/00e858ac96dc30cab8eea51540726417.svg#AlbiaNovaW01-Regular") format("svg"); }

@import url(//db.onlinewebfonts.com/c/00e858ac96dc30cab8eea51540726417?family=AlbiaNovaW01-Regular);

@media screen and (min-width:1000px) {
    html {}
}
html{
font-size: 62.5%;
width: 100%;
max-width: 1680px;
overflow-x: hidden;
}
body{

padding: 0;
margin: 0;
overflow-x: hidden;
background: #FFFEF2;



}
main{
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
   
}
/*******
.overall{
    margin-top: 0.2px;
    width: 100%;
    
}
#main-header{
    background-image: url(images/holdingHands.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
   
}
#logoSpace{
    display: inline;
}
#logoSpace{
    display: inline;
}
#logo{
    width: 61.49px;
    height: 94px;
}


.plaqueT > h1{
    font-family: AlbiaNovaW01-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.97935rem;
    line-height: 3.1rem;
    /* identical to box height, or 154% 
    
    
    color: #FFFFFF;
    
}

ul{
    list-style-type: none;
    display: inline;
    
    
}
.navbar{
    margin-bottom: 100px;
}
.navbar ul li{
    padding-right: 35px;
    display: inline;
    
    
    
   
}
.navbar ul li a{
    background: -webkit-linear-gradient(96.19deg, #BFA67E 3.29%, #BDA47D 17.94%, #B69E78 23.21%, #AB9470 26.97%, #9A8565 29.99%, #8C795C 31.74%, #8C795C 34.69%, #8C795C 37.75%, #9A8565 40.21%, #AB9470 44.48%, #B69E78 49.79%, #BDA47D 57.25%, #BFA67E 77.95%, #BDA47D 86.7%, #B69E78 89.85%, #AB9470 92.1%, #9A8565 93.9%, #8C795C 94.95% );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 1.7rem;
line-height: 2.0rem;

}
.navbar ul li a:hover, .navbar ul li a:active, .navbar ul li a:focus {
    color: white;
    background: linear-gradient(98.06deg, #BFA67E 3.29%, #BDA47D 17.94%, #B69E78 23.21%, #AB9470 26.97%, #9A8565 29.99%, #8C795C 31.74%, #8C795C 34.69%, #8C795C 37.75%, #9A8565 40.21%, #AB9470 44.48%, #B69E78 49.79%, #BDA47D 57.25%, #BFA67E 77.95%, #BDA47D 86.7%, #B69E78 89.85%, #AB9470 92.1%, #9A8565 93.9%, #8C795C 94.95%);
border-radius: 4.59574px;


padding: 3px 10px;
text-decoration: none;
-webkit-background-clip: none;
-webkit-text-fill-color: white;
background: -webkit-linear-gradient(none);
}

.header-one{
    padding: 50px 0 0 40px

}




.header-two{

    padding:0px 0 0 50px
}
#hplan{
    font-family: Afterglow;
    font-style: normal;
    font-weight: normal;
    font-size: 3.6611rem;
    line-height: 4.4rem;
    
    color: #EED4AB;
}
#dreamWed{
    font-family: Afterglow;
font-style: normal;
font-weight: normal;
font-size: 6.86456rem;
line-height: 6.9rem;
/* or 100% 


color: #EED4AB;
}

#dreamWed, #hplan{
    color: #EED4AB;
}
#headerText, #getStarted{
    color: #FFFFFF;
}
#headerText{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% 


color: #FFFFFF;

}
#getStarted{
    width: 165.58px;
    height: 38.17px;
text-align: center;
background: #BDA47D;
    border-radius: 3.63514px;
    
    
}

#getLink{
    text-decoration: none;
}
#startext{
    
font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 18px;

/* identical to box height 
padding-top: 8px;

color: #FFFFFF;


}

#getStarted:hover, #getStarted:active, #getStarted:focus{
    
    color: #fdec6e;
    text-decoration: none;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.1s ease-in;
  
}

#ringImg{
    width: 100%;
    height:96% ;
    position: relative;
    
}
#goldLine{
    width: 100%;
    height: 70%;
    transform: rotate(359deg);

}
.divider{
    margin-top: -160px;
    margin-right: 0;
    padding-right: 0;
    width: 103%;
}
**/




.navbar-brand {
  padding-top: 10vmin;
  padding-left: 30px;
  font-family: AlbiaNovaW01-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 1.97935rem;
  line-height: 3.1rem;
  /* identical to box height, or 154% */
  
  
  color: #FFFFFF;
}

#navbarNav > ul > li > a{
  background: -webkit-linear-gradient(96.19deg, #BFA67E 3.29%, #BDA47D 17.94%, #B69E78 23.21%, #AB9470 26.97%, #9A8565 29.99%, #8C795C 31.74%, #8C795C 34.69%, #8C795C 37.75%, #9A8565 40.21%, #AB9470 44.48%, #B69E78 49.79%, #BDA47D 57.25%, #BFA67E 77.95%, #BDA47D 86.7%, #B69E78 89.85%, #AB9470 92.1%, #9A8565 93.9%, #8C795C 94.95% );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 1.7rem;
line-height: 2.0rem;

}
#navbarNav > ul > li > a:hover{
  color: white;
    background: linear-gradient(98.06deg, #BFA67E 3.29%, #BDA47D 17.94%, #B69E78 23.21%, #AB9470 26.97%, #9A8565 29.99%, #8C795C 31.74%, #8C795C 34.69%, #8C795C 37.75%, #9A8565 40.21%, #AB9470 44.48%, #B69E78 49.79%, #BDA47D 57.25%, #BFA67E 77.95%, #BDA47D 86.7%, #B69E78 89.85%, #AB9470 92.1%, #9A8565 93.9%, #8C795C 94.95%);
border-radius: 4.59574px;


padding: 3px 10px;
text-decoration: none;
-webkit-background-clip: none;
-webkit-text-fill-color: white;
background: -webkit-linear-gradient(none);

}
.navbar-brand>img{
width: 22%;
height: 46%;
}

.navbar-brand{
    height: auto;
}
ul{
    list-style-type: none;
    display: inline;}
.nav-item {
  padding: 0em 1.3em;
}
.nav-link {
  
  font-size: 1.1em;
}

.heading .h1 {
  font-family: Afterglow;
    font-style: normal;
    font-weight: normal;
    font-size: 3.6611rem;
    line-height: 4.4rem;
    
    color: #EED4AB;
  
  
}
#dreamWed{
  font-family: Afterglow;
font-style: normal;
font-weight: normal;
font-size: 6.86456rem;
line-height: 6.9rem;
/* or 100% */


color: #EED4AB;
}
#headerText{
  padding-top: 2vmin;
  font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 28px;
/* or 140% */


color: #FFFFFF;

}
.headtexts{
  white-space: nowrap;
}

#ringImg{
  width: 90%;
  height:95% ;
  
}



.heading .p {
  padding: 0em 13vmin;
  color: rgb(70, 65, 65);
  font-size: 3.5vmin;
}
  

.btn2 {
    padding: 5px 30px 5px 30px;
  background: #BDA47D;
    border-radius: 3.63514px;
  margin: 2vmin 2.5vmin;
  font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 2rem;
  color: white;
  border: none;
    
}

.heading > .btn2 {
    border: none;
    background: transparent;
  
  color: white;
}
.heading > .btn1:hover,
.btn2:hover {
    color: rgb(255, 251, 0);
    text-decoration: none;
  text-shadow:0px 0px 30px rgb(255, 242, 0);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.heading {
  margin-bottom: 15vmin;
}

#myVideo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -999;
  
}


  
  



/************************Body styles***************************/
.body{
    padding: 0;
   
}

.first-body{
    padding-left: 45px;
    
}



#body-text-one{
    
font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 4.10647rem;
line-height: 5.3rem;

color: #B69E78;

}
#body-text-1{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 2.2rem;
line-height: 3.7rem;
/* or 154% */


color: #918A8A;
}

#body-text-two{
    font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 4.10647rem;
line-height: 5.3rem;
text-align: right;

color: #B69E78;
}
#body-text-2{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 2.2rem;
line-height: 3.7rem;
/* or 154% */

text-align: right;

color: #918A8A;

}
#body-text-three{
    font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 4.40647rem;
line-height: 5.3rem;

color: #B69E78;

}
#body-text-3{
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 2.4rem;
line-height: 3.7rem;
/* or 154% */


color: #918A8A;

}
.main-text-one{
padding-right: 20px;    
}



.muffins{
   
    padding-right: 25px;
}
.muffins > img{
    max-width: 90.5%;
max-height: 84.6%;

}

.firstFlower{
    text-align: right;
    padding-left: 0;
 
}
.firstFlower > img{
    max-width: 100%;
max-height: 403.88px;


}
.secondFlower > img{
    width: 100%;
height: 363.88px;
}
.dining > img{
    max-width: 90.5%;
max-height: 84.6%;
}

.dining{
    

    padding-right: 0;
}
.deejay > img{
    max-width: 90%;
max-height: 84.6%;
}
.deejay{
   
   
}
.thirdFlower > img{
    max-width: 100%;
max-height: 363.88px;
}
.third-body{
    padding-left: 45px;
}
.main-text-three{
    padding-right: 0;
}

/*Costumers review*/
.cust-review{
   
    max-width: 100%;
height: 100%;
background: #BDA47D;
margin-bottom: 64px;

}
.dashed-lines{
    width: 50%;
height: 2px;


}
.cutlines{
    text-align: center;
    margin-top: 20px;
}



.whatsay{
    font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 37.6216px;

/* identical to box height, or 154% */


color: #FFFDD0;

padding-top:20px ;
padding-bottom: 20px;
text-align: center;

}

#johncap , #johnhair{
    width: 45%;

}

#johnhair{
    left: 15px;
top:7px ;
position: relative;
}

#johncap{
    left: 15px;
    top:7px ;
    position: relative;

}
#johnpic{
width: 400px;
height: 200px;
padding-right: 0;
padding-left: 60px;

}

#johnpic2{
    width: 400px;
    height: 200px;
    padding-right: 0;
    padding-left: 60px;
    
    }
.reviewtext{
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}

.reviewtext2{
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}
#Jd1{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 4.3rem;
    /* or 197% */
    
    
    color: #FFFDD0;
    
}
#Jd2{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 4.3rem;
    /* or 197% */
    
    
    color: #FFFDD0;
    
}
#Jdtext{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.49639rem;
    line-height: 2.8rem;
    /* or 154% */
    
    
    color: #FFFFFF;
    
}
#Jdtext2{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.49639rem;
    line-height: 2.8rem;
    /* or 154% */
    
    
    color: #FFFFFF;    
}


.hairjohn{
    height: 200px;
    width:100% ;
    
    
    
}


.capjohn{
    height: 200px;
    width:100% ;
    
    
   
}

#slideimg{
    width: 97px;
height: 17px;
margin: auto;
}
.slideicn{
    text-align: center;
    margin-top: 5px;
}


/********************Carousel style************************/
.carousel {
	
	padding: 0 5px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .carousel-control {
	width: 30px;
    height: 30px;
    
    
	background: none;
}
.carousel-control i {
    font-size: 58px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: #FFFDD0;
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 rgb(226, 225, 225);
}
.carousel .carousel-indicators {
    margin-top: 100px;
	
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 17px;
	height: 17px;
	margin: 1px 3px;
    border-radius: 50%;
    margin-top: 100px;
}
.carousel-indicators li {	
	border: 1px solid #FFFDD0;
box-sizing: border-box;
margin-top: 100px;

	
}
.carousel-indicators li.active {	
	background: #FFFDD0;		
	
}

/********************\Carousel style************************/

/*Wedding plan


}

*/
.plan-wed{
   text-align: center;   
   padding: 0;  
   width: auto;
   margin-left: 75px;
   margin-right: 75px;
   
}

.wed-plan{
    
box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
border-radius: 4.89184px;
width: auto;
height: 100%;
background: #BDA47D;
padding-bottom: 20px;



}



.wed-plan > div > p{
    color: white;
}

.wed-plan > div> h3{
font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 4.0rem;
line-height: 4.8rem;

color: #FFFDD0;
padding-top: 30px;
}

.wed-plan>div>div{
    
background: #FFFFFF;

border-radius: 4.77477px;
width: 229px;
height: 60px;
text-align: center;

}
.wed-plan a{
    text-decoration: none;
}

.wed-plan>div>div>a>h6{

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 2.54655rem;
    line-height: 3.0rem;
    padding-top: 5px;
    
    color: #8C795C;
   
    

}

.wed-plan>div>div:hover, .wed-plan>div>div:active, .wed-plan>div>div:focus{
    
    color: rgb(255, 251, 0);
    text-decoration: none;
  text-shadow:0px 0px 30px rgb(255, 242, 0);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  
}
.getbox{
    width: 229px;
height: 60px;
background: #FFFFFF;
border-radius: 4.77477px;

}
.getdiv{
    vertical-align: middle;
}

/*Footer*/
.foot-logo{
    font-family: AlbiaNovaW01-Regular;
font-style: normal;
font-weight: normal;
font-size: 14.6346px;
line-height: 23px;
/* identical to box height, or 154% */


color: #000000;

}
#footerlogo{
    width: 45.42px;
    height: 69.5px ;
}
.all-footer{
    border-style: solid;
    background: rgba(242, 212, 157, 0.05);
border: 0.795796px solid #8C795C;
box-sizing: border-box;
height:auto;

margin: 65.15px 3px 3px 3px;


}

.soch ul{
    padding: 0;
    list-style-type: none;
}
.soch>h6{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12.3243px;
line-height: 21px;

color: #5F6C6D;

}
#fb, #twitter, #instagram{
    width: 16px;
height: 15.92px;
}
.sociallist> li{
    display: inline;
}
.sociallist> li>a{
    padding-right: 20px;
}
.sosh-foot{
    margin-top: 22.22px;
}
a{
    text-decoration: none;
}
#help-head{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */



color: #333333;
}
.help-info > li >a{
    text-decoration: none;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */



color: #5F6C6D;

    
}

.help-info > li{
    padding-top: 13.53px;
}

.about > li >a{
    text-decoration: none;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14.3243px;
line-height: 17px;


color: #5F6C6D;
    
}
#about-head{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */


color: #333333;
}
.about > li{
    padding-top: 14.3px;
}
#sub-head{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */


color: #333333;

}
.subscribe > li{
    padding-top: 12.3px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14.3243px;
line-height: 17px;
/* identical to box height */



color: #5F6C6D;

}
.subscribe > li>input{
    width: 308.79px;
height: 47.75px;
    background: #FFFFFF;
border: 0.795796px solid #8C795C;
box-sizing: border-box;
border-radius: 4.77477px;
}
.sub-list{
    padding-left: 20px;
}
/**Email send**/
.subscribe form{
    padding: 5px;
    background: #FFFFFF;
    border: 0.795796px solid #8C795C;
    box-sizing: border-box;
    border-radius: 4.77477px;
    border-radius: 6px;
    width: 90%;
}

.subscribe table{
    width: 100%;
}

.subscribe button{
    border: none;
    background: transparent;
}

.subscribe input{
    background: transparent;
    border: none;

    font-size: 16px;
}



/**** Media query*****/
@media only screen and (max-width: 992px) {
    #myVideo {
      display: none;
    }
    .section_1 {
      background: url("images/holdingHandss.png");
      background-size: cover;
    }
    .section_1 .p {
      color: #e5e5e5;
    }
    .section_2 {
      margin-top: 5vmin;
    }
  
    .headtexts{
    white-space: unset;
    }
    .navbar-toggler{
        margin-top: 50px;
    }
    #johncap , #johnhair{
        width: 60%;
    
    }
    .details{
        padding-top: 0;
    }
    .carousel-indicators{
        bottom: 0%;
    }
    .carousel .item {
        text-align: left;}
    
        .carousel-control i {
            font-size: 45px;
            line-height: 32px;

    
    
  }
  
  @media only screen and (max-width: 425px) {
    .services {
      margin-top: 250vmin;
    }
    .section_5 .Team .member:nth-child(3) {
      width: 50%;
    }
  }

  
  @media only screen and (max-width: 370px) {
    .navbar-dark .navbar-brand {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
  }
  